body {
    background: black;
    color: white;
    font-family: Arial, sans-serif;
}

header, main {
    padding: 20px;
}

#user-info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

#user-info span {
    font-size: 1.5em;
}

#attributes-container, #skills-container {
    display: flex;
    justify-content: space-between;
}

#attributes-container div, .skill {
    flex-basis: 30%;
}

progress {
    width: 100%;
}

.skill {
    display: none;
}

.skill:first-of-type {
    display: block;
}